[Unit]
Description=Requestor C2 Service
After=network.target
StartLimitIntervalSec=0

[Service]
User=root
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/drew/requestor/server-exec

[Install]
WantedBy=multi-user.target
